<div class="card">
  <%= form_with(model: @kitten) do |form| %>
    <% if @kitten.errors.any? %>
        <% flash.now[:alert] = "You suck at creating kittens!(Enter all fields..duh!)"%>
        
    <% end %>

    <div>
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>
      <div>
      <%= form.label :age, style: "display: block" %>
      <%= form.number_field :age %>
    </div>
  
    <div>
      <%= form.label :cuteness, style: "display: block" %>
      <%= form.text_field :cuteness %>
    </div>
    <div>
      <%= form.label :softness, style: "display: block" %>
      <%= form.text_field :softness %>
    </div>
  
    <div class="special-actions">
      
      
      <%= form.submit class: "button" %>
      
      <%unless controller_name == 'kittens' && action_name == 'new'%>
       <%= button_to "Delete kitten", @kitten, class:"delete", method: :delete%>
      <%end%>
    </div>
  <% end %>
</div>